body
{ 
    --background: rgb(34, 34, 34); 
    background: var(--background);
    overflow: hidden;

    --margin: 8px;
    margin: var(--margin);
    position: relative;

    --angle: 45deg;/*will be modified in DIAGONAL ANGLE section on previewer.js*/
    --diagonal: calc(1.4*max(100vw,100vh));
}
body{--angle:0.91rad;--diagonal:1174px}/*REMOVE LATER*/
body::before,body::after
{content: '';
    position: absolute;
        left: calc(-1*var(--margin));
        top: calc(-1*var(--margin));
        z-index: -1;
    
    transform-origin: left;
    transform:
        translateY(-50%)
        rotate(var(--angle));
    
    width: var(--diagonal);
    height: calc(.6*var(--diagonal));
    
    background: rgba(48, 167, 207, 0.039);
}

body::after
{
    height: calc(.15*var(--diagonal));
    background: var(--background);
}

figure
{
    display: inline-block;
    background: rgba(108, 147, 120, 0.372);
    
    border: 4px solid rgb(161, 69, 89);
    border-radius: 4px;
    margin: 10px;
}

img
{
    --margin: 10px;
    max-height: 100px;
    margin: var(--margin);

    position: relative;
        left:50%;
    transform: translateX(calc(-50% - var(--margin)));
}

figcaption
{
    color: white;
    font-family: monospace;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.38);
    margin-bottom: 5px;
    padding: 1px 5px;
}