html:root
{
/* Primary Colors */
    --Dark-Blue: #2d314d;
    --Lime-Green: #31d35c;
    --Bright-Cyan: #2bb7da;
/* Neutral Colors */
    --Grayish-Blue: #9698a6;
    --Light-Grayish-Blue: #f3f4f6;
    --Very-Light-Gray: #fafafa;
    --White: #ffffff;
/* Other Variables */
    --horizontal-margin: 11vw;
    --p-margin: 30px;
    --item-margin: 20px;

    font: /*300*/400/*700*/ 18px 'Public Sans', sans-serif;
    color: var(--Dark-Blue);
}
a{ text-decoration: none; }

p{ color: var(--Grayish-Blue); }

.unstyled-space{ display: none; }

/* ------------HEADER------------ */
header
{
    background-color: var(--White);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 var(--horizontal-margin);
    overflow: hidden;
}
header>svg
{
    width: 139px;
    height: 20px;
    
    transform: matrix(1,0,0,1,0,0);
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}
header li
{
    font-size: 14px;
 
    margin: 0 15px;
    padding: 33px 0;
}

header a{ color: var(--Grayish-Blue); }

button.request
{
    background-image: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
    font-size: 14px;

    --height: 44px;
    height: var(--height);
    width: 165px;
    
    border: none;
    border-radius: calc(var(--height)/2);
}
/* ------------MAIN-SECTION-1------------ */
main{ overflow: hidden; }

main>.container-1
{
    background-color: var(--Very-Light-Gray);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: var(--horizontal-margin);
}
main>.container-1>.image
{
    order: 1;
    position: relative;

    width: calc(1019px + var(--horizontal-margin));
    align-self: stretch;
    
    background-image: url('previewer/images/bg-intro-desktop.svg');
    background-position: left top -260px;
    background-repeat: no-repeat;
    
    margin-left: 20px;
}
main>.container-1>.image>div
{
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
main>.container-1 img
{
    position: relative;
        top: -120px;
    width: 767px;
    height: auto;
    
    margin-left: 175px;
    margin-right: calc(var(--horizontal-margin) - 19px);
}
main>.container-1>.text
{
    width: 450px;
    flex-shrink: 0;

    margin: 169px 0;
}
h1,h2,h3
{
    font-size: 55px;
    font-weight: 400;

    margin: 0;
}
p
{
    line-height: 27px;
    padding-top: var(--p-margin);
    margin: 0;
}
main button.request{ margin-top: var(--p-margin); }

/* ------------MAIN-SECTION-2------------ */
main>.container-2,main>.container-3
{
    background-color: var(--Light-Grayish-Blue);
    padding: 100px var(--horizontal-margin);
}
main>.container-2>div
{
    min-width: 500px;
    max-width: 650px;
}
h2{ font-size: 40px; }

main>.container-2>ul
{
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 25px calc(-1*var(--item-margin)/2) 0;
}
main>.container-2>ul>li
{
    width: 265px;
    flex-shrink: 0;
   
    margin: 50px calc(var(--item-margin)/2) 0;
}
main>.container-2 h3
{
    font-size: 24px;
    margin-top: var(--p-margin);
}

main>.container-2>ul p{ font-size: 16px; }

/* ------------MAIN-SECTION-3------------ */
main>.container-3{ background-color: var(--Very-Light-Gray); }

main>.container-3>div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 calc(-1*var(--item-margin)/2);
}
main>.container-3 article
{
    --article-width: 255px;
    width: var(--article-width);
    flex-shrink: 0;
   
    --border-radius: 6px;
    margin: 50px calc(var(--item-margin)/2) 0;
}
main>.container-3 article>div.image
{
    --image-height: 200px;
    height: var(--image-height);
 
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
}
main>.container-3 img
{
    position: relative;
        left: 50%;
    transform: translateX(-50%);
    
    height: var(--image-height);
}
main>.container-3 article>div.text
{
    position: relative;
        z-index: 0;
    
    --text-margin: 20px;
    margin: 0 var(--text-margin);
}

main>.container-3 article>div.text::before
{content: '';
    position: absolute;
        left: calc(-1*var(--text-margin));
        z-index: -1;

    width: var(--article-width);
    height: calc(100% + var(--p-margin));

    background-color: var(--White);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
main>.container-3 p.credit{ font-size: 11px; }

main>.container-3 h3
{
    font-size: 17px;
    margin-top: 5px;
}
main>.container-3 a{ color: var(--Dark-Blue); }

main>.container-3 p.text
{
    font-size: 13px;
    line-height: 19px;
    
    padding-top: 10px;
}

/* -------------------------------------- */
