html:root
{
/* Primary Colors */
    --Dark-Blue: #2d314d;
    --Lime-Green: #31d35c;
    --Bright-Cyan: #2bb7da;
/* Neutral Colors */
    --Grayish-Blue: #9698a6;
    --Light-Grayish-Blue: #f3f4f6;
    --Very-Light-Gray: #fafafa;
    --White: #ffffff;
/* Other Variables */
    --horizontal-margin: 155px;
    --p-margin: 30px;

    font: /*300*/400/*700*/ 18px 'Public Sans', sans-serif;
    color: var(--Dark-Blue);
}
a{ text-decoration: none; }

p{ color: var(--Grayish-Blue); }

.unstyled-space{ display: none; }

/* ------------HEADER------------ */
header
{
    position: relative;
        z-index: 1;
    background-color: var(--White);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 var(--horizontal-margin);
    overflow: hidden;
}
header>img{ height: 20px }

ul
{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}
header li
{
    font-size: 14px;
 
    margin: 0 15px;
    padding: 33px 0;
}

header a{ color: var(--Grayish-Blue); }

button.request
{
    /* color: ; */
    background-image: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
    font-size: 14px;

    --height: 44px;
    height: var(--height);
    width: 165px;
    
    border: none;
    border-radius: calc(var(--height)/2);
}
/* ------------MAIN-SECTION-1------------ */
main>.container-1
{
    background-color: var(--Very-Light-Gray);
    --container-height: 650px;
    height: var(--container-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: var(--horizontal-margin);
}
main>.container-1>.image
{
    order: 1;
    position: relative;
    
    --image-height: 975px;
    --background-width: 1150px;
    width: var(--background-width);
    height: var(--image-height);
    
    background-image: url('previewer/images/bg-intro-desktop.svg');
    background-position: left bottom calc((var(--image-height) - var(--container-height))/2);
    background-size: var(--background-width);
    background-repeat: no-repeat;
    
    overflow: hidden;
}
main>.container-1 img
{
    height: var(--image-height);
    margin-left: 160px;
}
main>.container-1>.text
{
    max-width: 450px;
    min-width: 450px;

    margin: 0 40px 0 0;
}
h1,h2
{
    font-size: 55px;
    font-weight: 400;

    margin: 0;
}
p
{
    line-height: 27px;
    margin:var(--p-margin) 0 0;
}
main button.request{ margin-top: var(--p-margin); }

/* ------------MAIN-SECTION-2------------ */
main>.container-2
{
    background-color: var(--Light-Grayish-Blue);
    padding: 100px var(--horizontal-margin);
}
main>.container-2>div
{
    max-width: 650px;
    min-width: 500px;
}
h2{ font-size: 40px; }

main>.container-2>ul
{
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin-top: 25px;
}
main>.container-2>ul>li
{
    min-width: 265px;
    max-width: 265px;
   
    margin-top: 50px;
    margin-right: 20px;
}
main>.container-2>ul>li.last-item{ margin-right: 0; }

main>.container-2>ul p{ font-size: 16px; }

/* -------------------------------------- */
