html:root
{
/* Primary Colors */
    --Dark-Blue: #2d314d;
    --Lime-Green: #31d35c;
    --Bright-Cyan: #2bb7da;
/* Neutral Colors */
    --Grayish-Blue: #9698a6;
    --Light-Grayish-Blue: #f3f4f6;
    --Very-Light-Gray: #fafafa;
    --White: #ffffff;
/* Other Variables */
    --horizontal-margin: 11vw;
    --p-margin: 30px;
    --item-margin: 20px;

    font: /*300*/400/*700*/ 18px 'Public Sans', sans-serif;
    color: var(--Dark-Blue);
}
body>.grid
{
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: auto 1fr;
}
a{ text-decoration: none; }

p{ color: var(--Grayish-Blue); }

.unstyled-space{ display: none; }

/* ------------HEADER------------ */
header
{
    background-color: var(--White);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 var(--horizontal-margin);
    overflow: hidden;
}
header svg
{
    width: 139px;
    height: 20px;
    
    transform: matrix(1,0,0,1,0,0);
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}
header li
{
    position: relative;
    font-size: 14px;
    
    padding: 33px 0;
    margin: 0 15px;
}
header li a:hover::before
{content: '';
    position: absolute;
        top: 100%;
    transform: translateY(-100%);

    width: 100%;
    --height: 5px;
    height: var(--height);
    
    background-image: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    border-radius: calc(var(--height)/2) calc(var(--height)/2) 0 0;
}
header li a{ color: var(--Grayish-Blue); }

header li a:hover{ color: var(--Dark-Blue); }

button.request
{
    background-image: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
    
    font-size: 14px;
    cursor: pointer;

    --height: 44px;
    height: var(--height);
    width: 165px;
    
    border: none;
    border-radius: calc(var(--height)/2);
}
button.request:hover{ filter: brightness(1.25) saturate(.5); }
/* ------------MAIN------------ */
main
{
    display: grid;
    grid-template-rows: repeat(2,auto) 1fr auto;
    grid-template-columns: 100%;

    overflow: hidden;
}
/* ------------MAIN-SECTION-1------------ */
main>.container-1
{
    background-color: var(--Very-Light-Gray);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: var(--horizontal-margin);
}
main>.container-1>.image
{
    order: 1;
    position: relative;

    width: calc(1019px + var(--horizontal-margin));
    align-self: stretch;
    
    background-image: url('previewer/images/bg-intro-desktop.svg');
    background-position: left top -260px;
    background-repeat: no-repeat;
    
    margin-left: 20px;
}
main>.container-1>.image>div
{
    position: absolute;

    display: flex;
    justify-content: space-between;
}
main>.container-1 img
{
    position: absolute;
        top: -120px;
    width: 767px;
    height: auto;
    
    margin-left: 175px;
    margin-right: calc(var(--horizontal-margin) - 19px);
}
main>.container-1>.text
{
    width: 450px;
    flex-shrink: 0;

    margin: 169px 0;
}
h1,h2,h3,h4
{
    font-size: 55px;
    font-weight: 400;

    margin: 0;
}
p
{
    line-height: 27px;
    padding-top: var(--p-margin);
    margin: 0;
}
main>.container-1 button.request{ margin-top: var(--p-margin); }

/* ------------MAIN-SECTION-2------------ */
main>.container-2,main>.container-3
{
    background-color: var(--Light-Grayish-Blue);
    padding: 100px var(--horizontal-margin);
}
main>.container-2>div
{
    min-width: 500px;
    max-width: 650px;
}
h2{ font-size: 40px; }

main>.container-2>ul
{
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 25px calc(-1*var(--item-margin)/2) 0;
}
main>.container-2>ul>li
{
    width: 265px;
    flex-shrink: 0;
   
    margin: 50px calc(var(--item-margin)/2) 0;
}
main>.container-2 h3
{
    font-size: 24px;
    margin-top: var(--p-margin);
}

main>.container-2>ul p{ font-size: 16px; }

/* ------------MAIN-SECTION-3------------ */
main>.container-3{ background-color: var(--Very-Light-Gray); }

main>.container-3>div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 calc(-1*var(--item-margin)/2);
}
main>.container-3 article
{
    --article-width: 255px;
    width: var(--article-width);
    flex-shrink: 0;
   
    --border-radius: 6px;
    margin: 50px calc(var(--item-margin)/2) 0;
}
main>.container-3 article>div.image
{
    --image-height: 200px;
    height: var(--image-height);
 
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
}
main>.container-3 img
{
    position: relative;
        left: 50%;
    transform: translateX(-50%);
    
    height: var(--image-height);
}
main>.container-3 article>div.text
{
    position: relative;
        z-index: 0;
    
    --text-margin: 20px;
    margin: 0 var(--text-margin);
}

main>.container-3 article>div.text::before
{content: '';
    position: absolute;
        left: calc(-1*var(--text-margin));
        z-index: -1;

    width: var(--article-width);
    height: calc(100% + var(--p-margin));

    background-color: var(--White);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
main>.container-3 p.credit{ font-size: 11px; }

main>.container-3 h4
{
    font-size: 17px;
    margin-top: 5px;
}
main>.container-3 a{ color: var(--Dark-Blue); }

main>.container-3 a:hover{ color: var(--Lime-Green); }

main>.container-3 p.text
{
    font-size: 13px;
    line-height: 19px;
    
    padding-top: 10px;
}
/* ------------FOOTER------------ */
footer
{
    position: relative;
    background-color: var(--Dark-Blue);

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-sizing: border-box;
    min-height: 190px;
    padding: 47px var(--horizontal-margin);
}
footer>.container-1
{
    display: flex;
    justify-content: space-between;
}
footer>.container-1>.social-media
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
footer>.container-1>.social-media>div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer>.container-1>.social-media a{ margin-right: 11px; }

footer>.container-1>.social-media>div use{ fill: var(--White); }

footer>.container-1>.social-media>div a:hover use{ fill: var(--Lime-Green); }

footer>.container-1>.menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
footer li,small
{
    font-size: 14px;
    font-weight: 300;

    padding: 5px 0;
}
footer>.container-1>.menu a{ color: var(--White); }

footer>.container-1>.menu a:hover{ color: var(--Lime-Green); }

footer>.container-2
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-end;
}
small
{
    text-align: right;
    color: var(--Grayish-Blue);
}
small a{ color: var(--Light-Grayish-Blue); }

small a:hover{ color: var(--Lime-Green); }
/* ------------MEDIA-QUERIES------------ */
@media (max-width: 1440px)
{
    main>.container-1
    {
        /* display: grid;
        grid-template-columns: 450px 1fr;
    */}
    main>.container-1>.image
    {
        background-position: left top 67.9%;
        background-size: 156.6%
    }
    main>.container-1>.image>div
    {
        width: 94.5%;
        height: 100%;
    }
    main>.container-1 img
    {
        top: 349.5px;
        transform: translateY(-50%);

        width: 100%;
        margin-left: 22.8%;
    }
}
@media (max-width: 960px)
{
    
}
/* ------------------------------------- */
