html:root
{
/* Primary Colors */
    --Dark-Blue: #2d314d;
    --Lime-Green: #31d35c;
    --Bright-Cyan: #2bb7da;
/* Neutral Colors */
    --Grayish-Blue: #9698a6;
    --Light-Grayish-Blue: #f3f4f6;
    --Very-Light-Gray: #fafafa;
    --White: #ffffff;
/* Other Variables */
    --horizontal-margin: 11vw;
    --p-margin: 30px;
    --item-margin: 20px;

    font: /*300*/400/*700*/ 18px 'Public Sans', sans-serif;
    color: var(--Dark-Blue);
}
body>.grid
{
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: auto 1fr;
}
a{ text-decoration: none; }

p{ color: var(--Grayish-Blue); }

.unstyled-space{ display: none; }

/* ------------HEADER------------ */
header
{
    position: relative;
    background-color: var(--White);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px var(--horizontal-margin);
}
header svg
{
    width: 139px;
    height: 20px;
    
    transform: none;
}
ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;

    display: flex;
}
header li
{
    position: relative;
    font-size: 14px;
    
    padding: 33px 0px;
    margin: 0px 15px;
}
header li a:hover::before
{content: '';
    position: absolute;
        top: 100%;
    transform: translateY(-100%);

    width: 100%;
    --height: 5px;
    height: var(--height);
    
    background-image: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    border-radius: calc(var(--height)/2) calc(var(--height)/2) 0px 0px;
}
header li a{ color: var(--Grayish-Blue); }

header li a:hover{ color: var(--Dark-Blue); }

button.request
{
    background-image: linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
    
    font-size: 14px;
    cursor: pointer;

    --height: 44px;
    height: var(--height);
    width: 165px;
    
    border: none;
    border-radius: calc(var(--height)/2);
}
button.request:hover{ filter: brightness(1.25) saturate(.5); }
/* ------------MAIN------------ */
main
{
    display: grid;
    grid-template-rows: repeat(2,auto) 1fr auto;
    grid-template-columns: 100%;

    overflow: hidden;
}
/* ------------MAIN-SECTION-1------------ */
main>.container-1
{
    background-color: var(--Very-Light-Gray);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: var(--horizontal-margin);
}
main>.container-1>.image
{
    order: 1;
    position: relative;

    width: calc(1019px + var(--horizontal-margin));
    align-self: stretch;
    
    background-image: url('previewer/images/bg-intro-desktop.svg');
    background-position-y: -260px;
    background-repeat: no-repeat;
    
    margin-left: 20px;
}
main>.container-1>.image>div
{
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
main>.container-1 img
{
    position: relative;
        top: -120px;
    width: 767px;
    height: auto;
    
    padding-left: 175px;
    padding-right: calc(var(--horizontal-margin) - 2.48%);
}
main>.container-1>.text
{
    width: 450px;
    flex-shrink: 0;

    margin: 169px 0px;
}
h1,h2,h3,h4
{
    font-size: 55px;
    font-weight: 400;

    margin: 0px;
}
p
{
    line-height: 27px;
    padding-top: var(--p-margin);
    margin: 0px;
}
main>.container-1 button.request{ margin-top: var(--p-margin); }

/* ------------MAIN-SECTION-2------------ */
main>.container-2,main>.container-3
{
    background-color: var(--Light-Grayish-Blue);
    padding: 100px var(--horizontal-margin);
}
main>.container-2>div
{
    min-width: 500px;
    max-width: 650px;
}
h2{ font-size: 40px; }

main>.container-2>ul
{
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 25px calc(-1*var(--item-margin)/2) 0px;
}
main>.container-2>ul>li
{
    width: 265px;
    flex-shrink: 0;
   
    margin: 50px calc(var(--item-margin)/2) 0px;
}
main>.container-2 h3
{
    font-size: 24px;
    margin-top: var(--p-margin);
}

main>.container-2>ul p{ font-size: 16px; }

/* ------------MAIN-SECTION-3------------ */
main>.container-3{ background-color: var(--Very-Light-Gray); }

main>.container-3>div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0px calc(-1*var(--item-margin)/2);
}
main>.container-3 article
{
    --article-width: 255px;
    width: var(--article-width);
    flex-shrink: 0;
   
    --border-radius: 6px;
    margin: 50px calc(var(--item-margin)/2) 0px;
}
main>.container-3 article>div.image
{
    --image-height: 200px;
    height: var(--image-height);
 
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    overflow: hidden;
}
main>.container-3 img
{
    position: relative;
        left: 50%;
    transform: translateX(-50%);
    
    height: var(--image-height);
}
main>.container-3 article>div.text
{
    position: relative;
        z-index: 0;
    
    --text-margin: 20px;
    margin: 0px var(--text-margin);
}

main>.container-3 article>div.text::before
{content: '';
    position: absolute;
        left: calc(-1*var(--text-margin));
        z-index: -1;

    width: var(--article-width);
    height: calc(100% + var(--p-margin));

    background-color: var(--White);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
main>.container-3 p.credit{ font-size: 11px; }

main>.container-3 h4
{
    font-size: 17px;
    margin-top: 5px;
}
main>.container-3 a{ color: var(--Dark-Blue); }

main>.container-3 a:hover{ color: var(--Lime-Green); }

main>.container-3 p.text
{
    font-size: 13px;
    line-height: 19px;
    
    padding-top: 10px;
}
/* ------------FOOTER------------ */
footer
{
    position: relative;
    background-color: var(--Dark-Blue);

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    box-sizing: border-box;
    min-height: 190px;
    --footer-padding: 47px;
    padding: var(--footer-padding) var(--horizontal-margin);
}
footer>.container-1
{
    display: flex;
    justify-content: space-between;
}
footer>.container-1>.social-media
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
footer>.container-1>.social-media>div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer>.container-1>.social-media a{ margin-right: 11px; }

footer>.container-1>.social-media>div use{ fill: var(--White); }

footer>.container-1>.social-media>div a:hover use{ fill: var(--Lime-Green); }

footer>.container-1>.menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
footer li,small
{
    font-size: 14px;
    font-weight: 300;

    margin: 5px 0px;
}
footer>.container-1>.menu a{ color: var(--White); }

footer>.container-1>.menu a:hover{ color: var(--Lime-Green); }

footer>.container-2
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-end;
}
small
{
    text-align: right;
    color: var(--Grayish-Blue);
}
small a{ color: var(--Light-Grayish-Blue); }

small a:hover{ color: var(--Lime-Green); }

/* ------------MEDIA-QUERIES------------ */
@media (max-width: 1440px)
{
    main>.container-1>.image
    {
        background-position-y: 67.9%;
        background-size: 156.6%
    }
    main>.container-1>.image>div
    {
        width: 94.5%;
        height: 100%;
    }
    main>.container-1 span{ display: none; }

    main>.container-1 img
    {
        position: absolute;
            top: 53.69%;
        transform: translateY(-50%);

        width: 100%;
        padding-left: 22.8%;
    }
}
@media (max-width: 960px)
{
    header button.request{ display: none; }

    main>.container-1>.text{ margin: calc(100vw*6.9/16 - 245px) 0px; }

    footer{ display: block; }

    footer>.container-2
    {
        flex-direction: row;
        align-items: center;
        
        padding-top: var(--footer-padding)
    }
}
@media (max-width: 720px)
{
    html:root
    {
        --p-margin: min(5vw,30px);
        --item-margin: 0px;
        font-size: min(4vw,18px);
        font-weight: 300;
    }
    /* ------------HEADER------------ */
    header{ height: 64px; }

    header>nav
    {
        position: absolute;
            left: 0px;
            top: 100%;
            z-index: 1;
        background-image: linear-gradient(to bottom,var(--Dark-Blue),transparent);

        width: 100%;
        height: calc(100vh - 100%);

        visibility: hidden;
    }
    header ul
    {
        background-color: var(--White);

        flex-direction: column;
        align-items: center;
        
        margin: var(--horizontal-margin);
        border-radius: 5px;
    }
    header li{ font-size: 18px; }

    /* ------------MAIN-SECTION-1------------ */
    main>.container-1
    {
        flex-direction: column-reverse;
        padding-left: 0px;
    }
    main>.container-1>.image
    {
        width: 100%;
        padding-top: calc((100% - 2*var(--horizontal-margin))*.92);

        background-image: url('previewer/images/bg-intro-mobile.svg');
        background-position-y: 122.5%;
        background-repeat: no-repeat;
        background-size: 100%;
        
        margin: 0px;
    }
    main>.container-1>.image>div
    {
        position: static;
        width: 100%;
    }
    main>.container-1 img
    {
        top: 100%;
        transform: translateY(-100%);

        box-sizing: border-box;
        padding-left: calc(var(--horizontal-margin) - 2.48%);
    }
    main>.container-1>.text
    {
        width: auto;
        text-align: center;
        margin: min(7vw,169px) var(--horizontal-margin) min(30vw,169px);
    }
    h1,h2,h3
    {
        font-size: min(9.5vw,55px);
        font-weight: 300;
    }
    p
    {
        line-height: min(6.5vw,27px);
        font-weight: 300;
    }

    /* ------------MAIN-SECTION-2------------ */
    main>.container-2>div
    {
        min-width: auto;
        max-width: none;
        text-align: center;
    }
    h2{ font-size: min(8vw,40px); }

    main>.container-2>ul
    {
        flex-direction: column;
        align-items: center;
    }
    main>.container-2>ul>li
    {
        width: auto;
        text-align: center;
    }
    main>.container-2 h3{ font-size: min(6vw,55px); }

    /* ------------MAIN-SECTION-3------------ */
    main>.container-3{ text-align: center; }

    main>.container-3>div
    {
        flex-direction: column;
        align-items: center;

        margin: 0px;
    }
    main>.container-3 article{ width: auto; }

    main>.container-3 article>div.image{ height: 50vw; }
    
    main>.container-3 img
    {
        left: auto;
        top: 50%;
        transform: translateY(-50%);

        width: 100%;
        height: auto;
    }
    main>.container-3 article>div.text{ text-align: left; }

    main>.container-3 article>div.text>p
    {
        font-size: 2.4vw;
        line-height: 3.5vw;
    }
    main>.container-3 article>div.text>h4
    {
        font-size: 3.25vw;
        font-weight: 300;
    }    
    main>.container-3 article>div.text::before{ width: calc(100% + 2*var(--text-margin)); }

    /* ------------FOOTER------------ */
    footer{ --footer-padding: 35px; }

    footer>.container-1
    {
        flex-direction: column;
        align-items: center;
        --item-margin: 10px;
    }
    footer>.container-1>.social-media{ align-items: center; }

    footer>.container-1>.social-media>div
    {
        padding: var(--footer-padding) 0px;
        margin: 0px calc(-1*var(--item-margin));
    }
    footer>.container-1>.social-media> a{ margin-right: 0px; }
    
    footer>.container-1>.social-media>div a{ margin: 0px var(--item-margin); }

    footer>.container-1>.menu
    {
        align-items: center;
        margin: calc(-1*var(--item-margin)) 0px;
    }
    footer li { margin: var(--item-margin) 0px; }

    footer>.container-2{ flex-direction: column; }

    small
    {
        text-align: center;
        padding-top: var(--footer-padding);
    }
}
/* ------------------------------------- */
